@charset "utf-8";
/* CSS Document */
@import url(colors.css);
@import url(sizes.css);
@import url(lightbox.css);


body{

	zoom:1;
	adding:0; margin:0; min-height:100%; color:#000000;

	background: #FFFFFF url('/imag/back/bkg-site.jpg') fixed top left no-repeat;
	
	/*background: #FFFFFF url('/imag/back/gf050.jpg') fixed center left no-repeat;*/
	background-color: #e4e4e4;
	
	-o-background-size: 100% 100%; 
	-webkit-background-size:100% 100%; 
	-moz-background-size:100% 100%; 
	-khtml-background-size:100% 100%;
	background-size: 100% 100%;
	
	behavior: url('/pie/PIE.htc');

}

.red{
	background:#FF8080;
	/*border: #FF0000 1px solid;*/
}


.green{
	background:#80FF80;
}


.blue{
	background:#8080FF;
}

.wide{
	width:100%;
	padding-left:50px;
}

.shad1{
	position:inherit;

	background:#FFFFFF;
	min-height:100%;
	-moz-box-shadow: 1px 1px 3px 1px #AAAAAA;
	-webkit-box-shadow: 1px 1px 3px 1px #AAAAAA;
	box-shadow: 1px 1px 3px 1px #AAAAAA;

	behavior: url('/pie/PIE.htc');

		/*behavior: url('/pie/PIE.htc');  for IE */
}

.shad2{

	background:#FFFFFF;
	/*min-height:160px;*/
	-moz-box-shadow: 3px 3px 3px 3px #AAAAAA;
	-webkit-box-shadow: 3px 3px 3px 3px #AAAAAA;
	box-shadow: 3px 3px 3px 3px #AAAAAA;
	padding:10px 0 10px 0;
	margin-bottom:0;
	behavior: url('/pie/PIE.htc');

		/*behavior: url('/pie/PIE.htc');  for IE */
}



.shad3{

	background:#FFFFFF;
	min-height:200px;
	-moz-box-shadow: 1px 1px 3px 1px #AAAAAA;
	-webkit-box-shadow: 1px 1px 3px 1px #AAAAAA;
	box-shadow: 1px 1px 3px 1px #AAAAAA;
	padding:10px 5px 10px 5px;
	margin: 0 0 10px 0;
	behavior: url('/pie/PIE.htc');

		/*behavior: url('/pie/PIE.htc');  for IE */
}

.h120{
	height:120px;	
}

.h180{
	height:180px;	
}

.marhor20{
	margin: 0 20px 0 20px;
}

.marhor10{
	margin: 0 10px 0 10px;
}

.marhor5{
	margin: 0 5px 0 5px;
}

.marleft10{
	margin: 0 0px 0 10px;
}

.padlt10{
	padding: 10px 0 0 10px;
}

.trans1{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:rgba(128, 128, 128, 0.5) !important; 
	-ms-background:rgba(128, 128, 128, 0.5) !important; 
	-pie-background: rgba(128,128, 128, 0.5) !important; 
	/*z-index:0;*/
	behavior: url('/pie/PIE.htc');
}

#footer{
	background:#BCA;
	-moz-box-shadow: 0 0 5px 3px #AAAAAA;
	-webkit-box-shadow: 0 0 5px 3px #AAAAAA;
	box-shadow: 0 0 10px 1px #AAAAAA;
	behavior: url('/pie/PIE.htc');
}

.separator{
	height:15px;
}

.bcrumb{
	/*
	margin-top: -15px;
	margin-bottom: 8px;
	padding:0;
	height:20px;
	*/
}
.headers{
	/*padding:0;*/
	height:60px;
}

