@charset "utf-8";
/* CSS Document */

.redd{
	background: #800000;
}

.greenn{
	background: #008000;
	padding:10px;
}

.bluee{
	background: #000080;
}

.brownn{
	background: #808000;
}

#del01{
	width:400px;
	height:300px;
	background:#00FFFF;
}