@charset "utf-8";
/* CSS Document */

form{
	margin:0px;
	/*background:#FF0000;*/
	text-align:center;

}

.w100p{
	width:100%;
}

.w90p{
	width:90%;
	text-align:right;
}

form.butt{
	text-align:right;
}

form.nextform{
	text-align:right; 
}

input[type="text"]{
	/*background:#88FF88;
	border:#000000 1px solid;*/
}

select{
	/*background:#88FF88;*/
}
/*
option{
	background:#FFFF00;
	height:100px;
}
*/
select#upic option[value="1"] {
background-image:url(/imag/upics/upicat.jpg);
background:#FFFF00;
}
select#upic option[value="2"] {
background-image:url(/imag/upics/tiger.jpg);
background:#00FFFF;
}
select#upic option[value="3"] {
background-image:url(/imag/upics/upicat.jpg);
background:#FF00FF;
}


textarea{
	/*background:#88FF88;*/
}

input[type="text"].normal{
	color:#0000A0;
}



input[type="text"].alert{
	color:#FF0000;
}

input[type="password"]{
	/*background:#CCCCFF;*/
}

input.pricekop{
	/*background:#88FF88;
	border:#000000 1px solid;*/
	width:80px;
}
label{
	margin-right:5px;
}

#textcomment{
	/*
	background:#CCFFFF;
	width:100%;
	*/
}

.replylink{
	color: #3090AA;
	cursor:pointer;
}